{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NEUROLDATING.COM
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <span id="nikita">Просмотр
                                {% if post.is_stories  %}
                                     Сториса
                                {% else %}
                                    Поста
                                {% endif %}
                            </span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                <!--All Feed -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                               {% if post.is_stories  %}
                                   Сторис
                               {% else %}
                                   Пост
                               {% endif %}
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-12">
                       <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Аватар</th>
                                        <th class="text-center">Пользователь</th>
                                        <th class="text-center">Пост/Сторис</th>
                                        <th class="text-center">Статус</th>
                                        <th class="text-center">Заголовок</th>
                                        <th class="text-center">Описание</th>
                                        <th class="text-center">Опубликовать</th>
                                        <th class="text-center">Отложить</th>
                                        <th>Дата создания</th>
                                    </tr>
                                </thead>
                                <tbody id="supers_list">
                                    <tr>
{#                                        <td>{{ forloop.counter }}</td>#}
                                        <td class="text-center"><img src="{{ post.user.main_photo }}" width="80px;" height="80px;"></td>
                                        <td class="text-center"><a href="{% url 'viewusrprofile' post.user.id %}">{{ post.user.username }}</a></td>
                                        <td class="text-center">
                                           {% if post.is_stories  %}
                                               Сторис
                                           {% else %}
                                               Пост
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if post.is_approved %}
                                               Одобрено
                                            {% else %}
                                                Не одобрено
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ post.title }}</td>
                                        <td class="text-center">{{ post.text }}</td>
                                        <td class="text-center">{% if post.user.gender == 'male' %}
                                                                      <a type="button" class="btn btn-sm btn-success" href="{% url 'approvedfeed' post.id 'men' %}">Опубликовать</a>
                                                                   {% else %}
                                                                       <a type="button" class="btn btn-sm btn-success" href="{% url 'approvedfeed' post.id 'woman' %}">Опубликовать</a>
                                                                   {% endif %}
                                        </td>
                                        <td class="text-center"><a type="button" data_delete="delete"
                                                                   id="{{ post.id }}"
                                                                   class="btn btn-sm btn-danger"
                                                                   href="#">Отложить</a>
                                        </td>
                                        <td class="text-center">{{ post.created_at|date:"D d M Y" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12">
                       <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Медиа</th>
                                        <th class="text-center">Тип медиа</th>
                                        <th class="text-center">Статус</th>
                                        <th class="text-center">Опубликовать</th>
                                        <th class="text-center">Отложить</th>
                                        <th class="text-center">Дата создания</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for media in post.feedmedia.all %}
                                    <tr>
                                        {%  %}
                                        <td class="text-center"><img src="{{MEDIA_URL}}{{ media.image }}" width="80px;" height="80px;"></td>
                                        <td class="text-center">{{ media.type_media }}</td>
                                        <td class="text-center">
                                            {% if media.is_approved %}
                                                Одобрено
                                            {% else %}
                                                Не одобрено
                                            {% endif %}
                                        </td>
                                        <td class="text-center"><a type="button"
                                                               class="btn btn-sm btn-success"
                                                               href="{% url 'staffview' %}">Опубликовать</a>
                                        </td>
                                        <td class="text-center"><a type="button" data_delete="delete"
                                                                 id="1"
                                                                 class="btn btn-sm btn-danger"
                                                                 href="#">Отложить</a>
                                        </td>
                                        <td class="text-center">{{ media.created_at|date:"D d M Y" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--All feed end -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
{% endblock %}