{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js\jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>NEUROLDATING.COM</h1>
</div>

<div class="page-header">
    <h1>Login in Admin Panel!</h1>
</div>

<!-- Simple Login - START -->
<form class="col-md-12" method="post" action="">
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Username" name="username"/><br/>
        {% if form.username in form  and form.username.errors %}
            <div class="alert alert-danger">
                <strong> {{ form.username.errors|escape }}</strong>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Password" name="password"><br/>
        {% if form.password in form and form.password.errors %}
            <div class="alert alert-danger">
                <strong> {{ form.password.errors|escape }}</strong>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        <input type="hidden" name="next" value="/adminpanel/" />
    </div>
</form>
<!-- Simple Login - END -->

</div>
</body>
</html>