wheel
Django
djangorestframework
djangorestframework-jwt
django-cors-headers
django-redis-sessions==0.6.1
django-redis
django-utils
tornado==6.0.3
tornado-redis
python-socketio
eventlet
aiohttp
aioredis
requests
Pillow
django-grappelli==2.13.3
django-rest-framework-social-oauth2
django-extensions==2.2.5
pydot
django-rest-swagger
pylint
pylint-django
psycopg2-binary
celery
django-filter