{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NEUROLDATING.COM
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <span id="nikita">Профиль пользователя</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                <!--All Feed -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                               Профиль пользователя
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-12">
                       <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Аватар</th>
                                        <th class="text-center">Пользователь</th>
                                        <th>Дата создания</th>
                                    </tr>
                                </thead>
                                <tbody id="supers_list">
                                    <tr>
{#                                        <td>{{ forloop.counter }}</td>#}
                                        <td class="text-center"><img src="{{ user.main_photo }}" width="80px;" height="80px;"></td>
                                        <td class="text-center"><a href="{% url 'viewusrprofile' user.id %}">{{ user.username }}</a></td>
                                        <td class="text-center">{{ user.created_at|date:"D d M Y" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--All feed end -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
{% endblock %}