{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NEUROLDATING.COM - Редактирование персонала{{ groupss }}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <span id="nikita">Редактирование персонала</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                     <form role="form" name="add_new_staff" method="post" action="{% url 'editstaff' data.id %}">{% csrf_token %}
                            <input type="hidden" value="1" name="is_staff"/>
                            <input type="hidden" value="1" name="is_active"/>
                            <div class="form-group">
                                <label>Имя пользователя</label>
                                <p class="form-control-static">{{ data.username }}</p>
                            </div>
                            <div class="form-group">
                                <label>Имя 1</label>
                                <input class="form-control" name="first_name" value="{{ data.first_name }}" required>
                            </div>
                            <div class="form-group">
                                <label>Имя 2</label>
                                <input class="form-control" name="last_name" value="{{ data.last_name }}" required>
                            </div>
                            <div class="form-group">
                                <label>EMAIL</label>
                                <input class="form-control" name="email" value="{{ data.email }}" required type="email">
                                {% if form.errors.email %}<label id="articul-error" class="error" for="email">{{ form.errors.email.0 }}</label>{% endif %}
                            </div>
                            <div class="form-group">
                                <label>Суперпользователь</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" {% if data.is_superuser %} checked {% endif %} name="is_superuser">
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Группы</label>
                            {% with total=data.groups.all %}
                                {% for group in groupss %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="groups" value="{{ group.name }}" {% if group in total %} checked {% endif %}>{{ group.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                            </div>
                            <button type="submit" class="btn btn-default">Сохранить</button>
                        </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
{% endblock %}