{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
    <div class="btn-modal-wrap btn-modal-wrap-1">
    <!-- Modal Deleted -->
    <div class="modal fade" id="is_deleted_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true">
                    </span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color: #ff0012">Внимание!!!Удаление Группы!!!</h4>
                </div>
                 <div class="modal-body">
                     <h3 style="color: #ff0012">ВЫ действительно хотите удалить эту группу???</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default" id="cancel_type">Cancel</button>
                    <button type="button" class="btn btn-xs btn-danger" id="delete_type" data_id_type="">Deleted</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NEUROLDATING.COM - Группы персонала
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <span id="nikita">Группы персонала</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Название новой группы</label>
                            <input class="form-control" placeholder="Имя" id="new_name_group">
                         </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Добавить</label>
                            <button type="button" class="btn btn-sm btn-success form-control" id="add_new_group">Добавить группу</button>
                         </div>
                    </div>
                    <div class="col-lg-12">
                       <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">№</th>
                                        <th class="text-center">Название</th>
                                        <th class="text-center">Редактировать</th>
                                        <th class="text-center">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody id="group_list">
                                {% for group in groups %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-center">{{ group.name }}</td>
                                        <td class="text-center"><a type="button" class="btn btn-sm btn-success"
                                                                   href="{% url 'groupedit' group.id %}">Редактировать</a>
                                        </td>
                                        <td class="text-center"><a type="button" data_delete="delete"
                                                                   id="{{ group.id }}"
                                                                   class="btn btn-sm btn-danger"
                                                                   href="{% url 'groupdelete' group.id %}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
<script type="text/javascript" src="{% static 'js/groupwork.js' %}"></script>
{% endblock %}