<!DOCTYPE html>
<html>
<head>
   <title>404</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">-->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
</head>
<body>
<header class="page-header">
    <div class="header-page-top">
        <div class="container container-custom">
            <div class="header-panel">
                <div class="header-panel-left">
                    <!-- Logo -->
                    <a href="index.html" class="logo">
                    <span class="logo-img-wrap">
                        <img src="{% static "images/logo-158x57.png" %} width="158" height="57" alt="">
                    </span>
                    </a>
                </div>
                <div class="header-panel-right">
                    <!-- Icon Collapse -->
                    <div class="collapse collapse-search" id="collapseExample">
                        <input type="text" class="form-control" placeholder="Please input text">
                    </div>
                    <div class="icon-collapse">
                        <a href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-toggle="collapse" class="icon icon-collapse icon-primary fa fa-search"></a>
                    </div>

                    <div class="icon-favorites-wrap">
                        <a href="#" class="icon icon-favorites fa fa-star-o">
                            <sup class="icon-favorites-count">1</sup>
                        </a>
                    </div>

                    <a href="index-5.html" class="btn btn-offer btn-icon btn-primary">
                        <span>Добавить предложение</span>
                        <span class="icon icon-offer fa fa-plus-circle"></span>
                    </a>

                    <a href="index-4.html" class="btn btn-sign-in btn-icon btn-transparent">
                        <span class="icon icon-sign-in icon-circle icon-secondary fa fa-user-o"></span>
                        <span><span class="text-secondary">Вход </span>/ Регистрация</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="page-wrapper">
    <section class="header-page-bottom">
        <div class="section section-1 bg-image bg-image-1">
            <div class="container container-custom">
                <h1 class="text-white">BFG -С нами выгоднее!!</h1>
            </div>
        </div>
    </section>
    <section class="section section-2">
        <div class="container container-custom">
            <div class="page-404-wrap">
                <img src="images/404.png" width="1108" height="691" alt="">
                <div class="page-404-caption">
                    <div class="page-404-title">404</div>
                    <div class="page-404-desc">страница не найдена</div>
                    <a href="index.html" class="btn btn-404 btn-primary">На главную</a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer section section-1">
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-3">
                <a href="index.html" class="logo">
                    <img src="images/logo-light-158x57.png" width="158" height="57" alt="">
                </a>
                <ul class="list-inline">
                    <li><a href="#" class="icon icon-sm icon-rect icon-primary-filled fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-sm icon-rect icon-primary-filled fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-sm icon-rect icon-primary-filled fa fa-vk"></a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list">
                    <li><a href="#">Помощь и Обратная связь</a></li>
                    <li><a href="#">Топ-объявления</a></li>
                    <li><a href="#">Платные услуги</a></li>
                    <li><a href="#">Для прессы</a></li>
                    <li><a href="#">Реклама на сайте</a></li>
                    <li><a href="#">Блог BFG</a></li>
                    <li><a href="#">Условия использования</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list">
                    <li><a href="#">Партнёры</a></li>
                    <li><a href="#">Как продавать и покупать?</a></li>
                    <li><a href="#">Правила безопасности</a></li>
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="#">Карта регионов</a></li>
                    <li><a href="#">Архив</a></li>
                    <li><a href="#">Популярные запросы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="scrollup">
        <span class="icon fa fa-arrow-circle-up"></span>
    </div>
</footer>
</body>
</html>